# --- Секреты и Конфигурация ---
# Никогда не загружайте эти файлы в репозиторий!
python_api/.env
nodejs_bot/token.txt

# --- Пользовательский контент ---
# Игнорируем папку со скачанными mp3-файлами
python_api/audio_files/

# --- Зависимости Node.js ---
# Эта папка может весить сотни мегабайт и устанавливается командой npm install
nodejs_bot/node_modules/

# --- Файлы виртуального окружения Python ---
# Папки venv, .venv, env и т.д. не должны быть в репозитории
venv/
.venv/
env/
*.env

# --- Кэш и скомпилированные файлы Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Лог-файлы ---
*.log
np-debug.log*

# --- Файлы редакторов кода и IDE ---
.vscode/
.idea/

# --- Файлы операционных систем ---
.DS_Store
Thumbs.db
